// Typography

@font-face {
    font-family: 'Franklin Gothic Normal';
    src:url('../fonts/franklin-gothic-book.woff2') format('woff2'),
        url('../fonts/franklin-gothic-book.woff') format('woff'),
        url('../fonts/franklin-gothic-book.ttf') format('truetype');
}
@font-face {
    font-family: 'Franklin Gothic Medium';
    src:url('../fonts/franklin-gothic-medium.woff2') format('woff2'),
        url('../fonts/franklin-gothic-medium.woff') format('woff'),
        url('../fonts/franklin-gothic-medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Franklin Gothic Heavy';
    src:url('../fonts/franklin-gothic-heavy.woff2') format('woff2'),
        url('../fonts/franklin-gothic-heavy.woff') format('woff'),
        url('../fonts/franklin-gothic-heavy.ttf') format('truetype');
}
@font-face {
    font-family: 'Franklin Gothic Condensed';
    src:url('../fonts/franklin-gothic-condensed.woff') format('woff'),
        url('../fonts/franklin-gothic-condensed.ttf') format('truetype');
}
%font-normal {
    font-family: 'Franklin Gothic Normal', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
%font-medium {
    font-family: 'Franklin Gothic Medium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
%font-heavy {
    font-family: 'Franklin Gothic Heavy', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
%font-condensed {
    font-family: 'Franklin Gothic Condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

::selection {
    color: $color_off_white;
    background: $color_black;
}

html {
    -webkit-font-smoothing: antialiased; // Fix fatty fonts
    -moz-osx-font-smoothing: grayscale;
    font-weight: regular;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    color: $color_black;
    @extend %font-normal;
}

h1,
h2,
h3,
p,
blockquote {
    margin: 0;
}

a {
    color: inherit;
}

h1 {
    font-size: $size_large;
    line-height: 1;
    @extend %font-condensed;
}

h2 {
    @extend %font-heavy;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: $size_base;

    @include for-tablet-portrait-up {
        writing-mode: vertical-lr;
    }
}

h3 {
    //padding-top: $nav-bar-width;
    font-size: $size_large_med;
    line-height: 1;
    @include for-phone-only {
        font-size: calc(#{$size_largest} * 1.2);
        margin-top: 1em;
        margin-bottom: 1.6em;
    }
    @include for-tablet-portrait-up {
        // font-size: calc(#{$size_largest} * 2);
        font-size: calc(#{$size_largest} * 1.2);
        // font-size: $size_largest;
        opacity: .9;
        margin-bottom: .8em;
    }
    @include for-big-desktop-up {
        font-size: calc(#{$size_largest} * 1.6);
    }
}

p {
    @extend %font-medium;
    @include for-phone-only {
        font-size: $size_base;
    }
    @include for-tablet-portrait-up {
        font-size: $size_base_large;
        opacity: .7;
    }
    @include for-big-desktop-up {
        font-size: $size_base;
    }
}

.nav--open {
    @extend %font-heavy;
    color: $color_white;
    text-transform: uppercase;
    font-size: $size_base_large;
    letter-spacing: .01em;
}