// Variables

// Colors
$color_black: #192A36;
$color_white: #FFFFFF;
$color_off_white: #F3F4F5;

$color_blue: #77C3D8;
$color_blue-secondary: #D0EAF2;

$color_red: #BF797E;
$color_red-secondary: #BF797E;


$color_green: #A7C26D;
$color_orange: #F29C4B;


// Sizing
$side_nav-height: 1em;
$side_nav-width: .1em;

$nav_width: 4rem;
$nav_height: 4rem;
$gallery_gutter: 0rem;
$button_radius: 3rem;
$form_gutter: 1rem;

$size_largest: 2.441rem;
$size_large_med: 1.953rem;
$size_large: 1.563rem;
$size_base_large: 1.25rem;
$size_base: 1rem;
$size_base_small: .8rem;
$size_small: 0.64rem;
$size_small_med: 0.512rem;
$size_smallest: 0.4rem;

$bar-width: 1.5em;
$bar-height: .2em;
$bar-spacing: .58em;

$nav-bar-width: calc(#{$bar-width}*3);


// Z-indices
$z_floor: 0;
$z_filter: 50;
$z_gallery: 100;
$z_nav-menu: 150;
$z_nav: 200;


// Breakpoints
$bp_gallery_2col: 1100px;
$bp_gallery_1col: 760px;
$bp_mobile: 530px;