// Variables

// Colors
$color_black: #192A36;
$color_white: #FFFFFF;
$color_off_white: #F3F4F5;

$amount: 20%;

// $color_blue: #77C3D8;
$color_blue: #8ECAEA;
$color_blue-secondary: lighten($color_blue, $amount);
$color_red: #d1686f;
$color_red-secondary: lighten($color_red, $amount);
$color_green: #A7C26D;
$color_green-secondary: lighten($color_green, $amount);
$color_orange: #F29C4B;
$color_orange-secondary: lighten($color_orange, $amount);

// Sizing
$side_nav-height: 1.5rem;
$side_nav-width: .17rem;

$nav_width: 4rem;
$nav_height: 4rem;
$gallery_gutter: 0rem;
$button_radius: 3rem;
$form_gutter: 1rem;

$size_largest: 2.441rem;
$size_large_med: 1.953rem;
$size_large: 1.563rem;
$size_base_large: 1.25rem;
$size_base: 1rem;
$size_base_small: .8rem;
$size_small: 0.64rem;
$size_small_med: 0.512rem;
$size_smallest: 0.4rem;

$bar-width: 1.5rem;
$bar-height: .2rem;
$bar-spacing: .58rem;

$nav-bar-width: 4.5rem;
$margin-side: 2.25rem;


// Z-indices
$z_floor: 0;
$z_low: 50;
$z_middle: 100;
$z_high: 150;
$z_ceiling: 200;


// Breakpoints
$bp_gallery_2col: 1100px;
$bp_gallery_1col: 760px;
$bp_mobile: 530px;