// Home Page

.home {
    @include for-phone-only {
        display: block;
    }
}

.hero-wrapper--right,
.hero-wrapper--left {
    position: absolute;
    top: 0;
    bottom: 0;
    @include for-phone-only {
        position: relative;
    }
}

.hero-wrapper--left {
    width: 45vw;
    left: 0;

    transition: 600ms ease;
    transform: translateX(-2em);
    opacity: 0;

    &.slide--in {
        transform: translateX(0);
        opacity: 1;
    }

    @include for-phone-only {
        width: auto;
        height: 20em;
    }
    background-color: $color_blue;
    animation: bg-color-cycle 10s ease infinite;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: $z_low;
        background-image: url('../images/hand.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        opacity: .2;
    }
}

.hero-img-wrapper {
    position: absolute;
    transform-style: preserve-3d;
    top: $nav-bar-width;
    bottom: $nav-bar-width;
    right: $nav-bar-width;
    z-index: $z_middle;
    height: 30em;

    @include for-phone-only {
        height: 22em;
        top: 2em;
        right: 2em;
        bottom: auto;
        pointer-events: none;
    }

    @include for-desktop-up {
        height: auto;
        right: -$nav-bar-width;
    }

    .hero-img {
        height: 100%;
    }
    .pick-one-hero {
        position: absolute;
        outline: 1px solid transparent;
        transform: rotate(-15deg) translateZ(8em);
        height: 20em;
        top: 100%;
        left: 1em;
        @include for-phone-only {
            right: 80%;
            top: 3em;
            height: 13em;
            left: -8em;
        }
        @include for-desktop-up {
            right: 20em;
            top: 5em;
            max-width: 20em;
            height: auto;
            left: auto;
        }
    }
}

.hero-wrapper--right {
    width: 60vw;
    right: 0;

    transition: 600ms cubic-bezier(0.63, 0, 0.25, 1.43);
    transform: translateX(2em);
    opacity: 0;

    &.slide--in {
        transform: translateX(0);
        opacity: 1;
    }

    @include for-phone-only {
        width: auto;
    }
    @include for-desktop-up {
        width: 50vw;
    }
    .wrapper {
        height: 100%;
        margin-right: $nav-bar-width;
        margin-left: $nav-bar-width;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include for-phone-only {
            margin-right: 2.25em;
            margin-left: 2.25em;
            padding-bottom: 5em;
        }
    }
    h3 {
        // transform: translateX(-2.25em);
        z-index: $z_high;
        pointer-events: none;
        font-size: calc(#{$size_largest} * 1.5);
        @include for-phone-only {
            transform: translateY(-1em);
            z-index: $z_high;
            margin-bottom: 0;
            margin-top: 1.5em;
        }
        @include for-desktop-up {
            transform: translateX(-4em);
            width: calc(100% + 2.25em);
        }
    }
    p {
        max-width: 20em;
        margin-bottom: 3em;
    }
    .hero-cta {
        display: block;
        padding: 1.2em;
        background-color: $color_black;
        color: $color_white;
        text-decoration: none;
        align-self: flex-start;
        font-size: $size_base_large;
        @extend %font-heavy;
        transition: 300ms ease;
        &:hover {
            animation: bg-color-cycle 900ms ease infinite;
            padding: 1em 2em;
        }
    }
}

